/* 全体 */
body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
    color: #333;
}

/* ヘッダー */
header {
    background: #1abc9c;
    text-align: center;
    padding: 5px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 75%;
}

.nav a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

/* メイン */
main {
    padding: 20px;
}

/* フッター */
footer {
    background: #1abc9c;
    color: #fff;
    text-align: center;
    padding: 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    display: block;
    margin: 0 auto;
    cursor: default;
    width: 1050px;
    height: 825px;
}

/* 説明文 */
.game-description {
    padding: 20px;
    margin: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    border-left: 5px solid #00adb5;
    border-radius: 8px;
    line-height: 1.6;
}

.game-description h2 {
    margin-top: 0;
}

.game-description p {
    color: #555;
    line-height: 1.6;
}

.game-description a {
    color: #00adb5;
    text-decoration: none;
    font-weight: bold;
}

/* 2カラム */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* 左（メイン） */
.content {
    flex: 3;
    flex-direction: column;
}

/* 右（サイドバー） */
.sidebar {
    flex: 1;
}

/* 広告バナー */
.ad-banner {
    text-align: center;
    margin: 20px 0;
}

.ad-banner img {
    width: 100%;
    max-width: 728px;
    height: auto;
    border-radius: 10px;
}

/* サイド広告 */
.side-ad {
    margin-bottom: 20px;
}

.side-ad img {
    width: 100%;
    border-radius: 10px;
}

.ad-label {
    font-size: 12px;
    color: gray;
}

